<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "ProfilePhoto.jpg"%>
  </div>
  <div id="content">
    <h1>Hey, I'm the creater for this blog</h1>
    <p>Welcome to a simple blog website</p>
    <p>This application has the simple functionality of creating, editing,
        deleting posts. You can also add comments and delete comments
        You can check the code on GitHub <a href="https://github.com/sundars0.">My Github</a>
        You can also check my other work via <a href="https://sundars-portfolio.herokuapp.com">My Profile</a>
      </p>
  </div>

</div>
